<!DOCTYPE html>
<html>
<head>
    <title>List All Products</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>

<body>
<div class="header">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Music List</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/get-catalog">View All Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-product-page">Add Song</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login-page">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</div>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Play</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.artist }}</td>
                <td>{{ product.album }}</td>
                <td>
                    {% if product.audio_mp3 %}
                    <a href="/play-songs/{{ product.audio_mp3 }}" class="btn btn-primary btn-sm">Play</a>
                    {% else %}
                    <span class="badge badge-secondary">No audio</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>